* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  border: 1px solid red;
  height: 152px;
}
section {
  border: 1px solid purple;
  height: 340px;
}
main {
  border: 1px solid blue;
  height: auto;
}
footer {
  border: 1px solid #009145;
  min-height: 368px;
}
.container {
  width: 1220px;
  margin: 0 auto;
  border: 1px solid springgreen;
  height: inherit;
  min-height: inherit;
}
.product-card {
	background-color: #f0f0f0;
	max-width: 25%;
	border-radius: 14px;
	overflow: hidden;
  border: 1px black solid;
  display: inline-block;
  margin: 20px;
 }
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.product-info {
	padding: 20px;
}
.product-title {
	font-size: 1.6rem;
  font-weight: bold;
  word-break: break-all;
  display: block;
}
.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-price-block .price {
	font-size: 22px;
	font-weight: 700;
	flex: 1;
}
.product-price-block .discount {
	font-size: 12px;
	font-weight: 700;
	color: #428f13;
}

