:root {
    --color-secundario: #00192C;
    --color-principal: #830321;
    --color-terciario: #360712;
    --white: #ffffff;
    --black: #232323;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    /* border: 1px red solid; */
}
html {
    font-size: 62.5%;
}