footer {
    min-height: auto;
    padding: 1rem 0;
    background-color: var(--color-terciario);
}
.columns-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
footer ul {
    margin-top: 20px;
    list-style: none;
}
footer ul li, footer span {
    font-size: 1.6rem;
    color: var(--white);
}
footer ul li a {
    text-decoration: none;
    color: var(--white);
}
footer ul li a:hover {
    border-bottom: 2px solid red;

}@media (max-width: 1024px) {

}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
    .col {
        width: 100%;
        text-align: center;
    }
    .columns-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 320px) {
}
